In [1]:
import numpy as np # Working with vectors and arrays
#import matplotlib 
import matplotlib.pyplot as plt # Standard module for plotting and visualization
#import scipy as sp 
import scipy.stats as stats # Scientific algorithms & basic statistics
import pandas as pd # Adds DataFrames to Python (powerful spreadsheets)
import seaborn as sns # Visualization of statistical data
import statsmodels.formula.api as sm # Provides classes and functions for many statistical models
from statsmodels.stats import power # Statistical power test
import statistics as s

# Task 39

In [ ]:
data = 'SUVLease.xlsx'
data = pd.read_excel(data)
display(data)

# Task 46

In [10]:
data = 'ComputerNews.xlsx'
data = pd.read_excel(data)
display(data)

summ1 = 0

n1 = 150
n2 = 200

for i in data['Under 30']:
    if i == 'Yes':
        summ1 += 1
        
p_under = summ1/n1

print(p_under)

summ2 = 0

for i in data['30 and Older']:
    if i == 'Yes':
        summ2 += 1
        
p_over = summ2/n2

print(p_over)

    Under 30 30 and Older
0         No          Yes
1        Yes           No
2        Yes          Yes
3        Yes           No
4        Yes           No
..       ...          ...
195      NaN          Yes
196      NaN          Yes
197      NaN          Yes
198      NaN          Yes
199      NaN           No

[200 rows x 2 columns]

0.7266666666666667
0.545